* {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

header h1 { 
  color: #8768BB;
  text-align: center;
  padding: 1.5em 0em .5em 0em;
  font-weight: 700
    
}

nav {
  clear: both;
  list-style:none;
  text-align: center;
  background-color: #8768BB;

}

nav li  {
  display:inline;
  width: 100%;
  
}

nav a {
  display:inline-block;
  padding:1em;
} 

aside { 
  clear: both; 
  float: left;
  width: 20%;
  background-color: #C1B1D5;
  text-align: center;
  font-weight: 700;
  line-height: 3em;
  color: white;
  height: 30em;
}

article {
  float: right;
  width: 80%;
  background-color: #E1E4E9;
  height: 30em; 
}

article img {
  padding: 1% 5% 1% 10%;
}

article p {
  padding: 1% 20% 1% 5%;
  text-align: center;
}

footer{
  bottom: 0;
  position:fixed; 
  width: 100%;
  text-align: center;
  width: 100%;
  margin:auto;
}

footer img {
  padding: 1em;
}

a:link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

a:visited {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

a:hover {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}