* {box-sizing: border-box;}
* {font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

header h1 { color: #8768BB;
text-align: center;
  padding: 1.5em 0em .5em 0em;
  font-weight: 700
}

nav {clear: both;
}
nav li {
    float: left;
    list-style-type: none;
  width: 10%;
background-color: #8768BB;
border-left: .1em solid black;
  padding: .2em;
    text-align: center;
  
}
aside { clear: both; align-content: left; 
    position: absolute;
width: 20%;
  min-height: 80%;
background-color: #C1B1D5;
}

article { float: right;
          width: 80%;
  padding: 10em 10em 4.1em 10em;
  min-height: 80%;
background-color: #E1E4E9;
}


footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}